body {
    background-color: aquamarine;
}

/* CARROSSEL */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.carousel-container {
    display: flex;
}

.slide {
    min-width: 100%;
    display: none;
    position: relative;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slide h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 10px;
}

/* BOTÕES */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}