.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.carousel-container {
    display: flex;
}

.slide {
    min-width: 100%;
    display: none;
    position: relative;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slide h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 10px;
}

/* BOTÕES */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #222;
    color: white;
    padding: 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.banner {
    background: url("https://picsum.photos/id/10/1200/400") no-repeat center;
    background-size: cover;
    color: white;
    padding: 100px;
    text-align: center;
}


.jogos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.card img {
    width: 100%;
}

.formulario {
    padding: 20px;
    text-align: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input {
    padding: 10px;
}

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.banner h2 {
    position: relative;
    top: 20px;
}